source ~/.vimrc

imap kj <Esc>
set timeoutlen=1000 

" set number relativenumber

" emulated plugins
" https://github.com/JetBrains/ideavim/blob/master/doc/emulated-plugins.md
set surround
set commentary
